.timeline-box-right {
    position: relative;
    width: 75%;
    float: right;
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin-bottom: 10rem;
}

.timeline-box-left {
    position: relative;
    width: 75%;
    float: left;
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin-bottom: 10rem;
}

.timeline-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Julius Sans One';
    padding: 1rem;
    margin: 0;
    text-align: center;
    margin-bottom: 2rem;
}